version: '3.9'
services:
  web:
    build: .
    command: uvicorn config.asgi:application --host 0.0.0.0 --port 8000
    env_file: .env
    volumes:
      - ./:/app
    ports:
      - "8000:8000"
  worker:
    build: .
    command: celery -A config.celery_app worker -l info
    env_file: .env
    volumes:
      - ./:/app
  beat:
    build: .
    command: celery -A config.celery_app beat -l info
    env_file: .env
    volumes:
      - ./:/app