Django==5.0.1
djangorestframework==3.16.1
celery==5.5.3
redis==6.4.0
httpx==0.28.1
scikit-learn==1.6.1
python-dotenv==1.1.1
environs==14.3.0
pytest==8.4.2
pytest-django==4.11.1
model-bakery==1.20.5
openai==2.3.0
psycopg2-binary==2.9.10
gunicorn==23.0.0